@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    @apply font-primary text-base font-normal mx-auto;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    max-width: 1440px;
  }
  input {
    @apply outline-none;
  }
  input[type="password"]::-ms-reveal,
  input[type="password"]::-ms-clear {
    display: none;
  }
}
.quill {
  @apply border border-stroke rounded-[10px] text-center px-[25px] py-[15px] min-h-[420px];
  .ql-toolbar.ql-snow {
    border: none;
    @apply bg-text4 bg-opacity-10 inline-block rounded-[10px] py-3 px-5;
  }
  .ql-container.ql-snow,
  .ql-editor {
    @apply border-none font-primary text-sm;
  }
  .ql-editor {
    @apply pt-10;
  }
  .ql-editor.ql-blank::before {
    @apply text-sm font-medium text-text4 not-italic;
  }
}
.shadow-1 {
  box-shadow: -4px 4px 8px rgba(226, 226, 226, 0.2),
    4px 4px 8px rgba(226, 226, 226, 0.2);
}
.ReactModal__Body--open {
  overflow: hidden;
}
.scroll-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scroll-hidden::-webkit-scrollbar {
  display: none;
}
// custom date picker
body .react-date-picker {
  @apply w-full px-6 py-4 text-sm dark:text-white bg-transparent font-medium border rounded-xl dark:placeholder:text-text2  placeholder:text-text4 border-stroke text-text1 dark:border-darkStroke;
  height: 54px;
  .react-date-picker__wrapper {
    @apply border-none justify-between items-center;
  }
  .react-date-picker__clear-button {
    @apply hidden;
  }
  .react-date-picker__inputGroup {
    min-width: 0;
    flex-grow: 0;
  }
  .react-date-picker__button {
    padding: 0;
  }
}
body {
  .react-date-picker__calendar .react-calender {
    @apply border-none shadow rounded-lg;
  }
  .react-calendar__navigation button:enabled:hover,
  .react-calendar__navigation button:enabled:focus {
    @apply bg-transparent;
  }
  .react-calendar__tile:not(
      .react-calendar__tile--active,
      .react-calendar__tile--now
    ):enabled:hover,
  .react-calendar__tile:not(
      .react-calendar__tile--active,
      .react-calendar__tile--now
    ):enabled:focus {
    @apply bg-transparent text-primary;
  }
  .react-calendar__tile--active,
  .react-calendar__tile--active:enabled:hover,
  .react-calendar__tile--active:enabled:focus {
    @apply bg-primary text-white rounded-lg;
  }
  .react-calendar__tile--now,
  .react-calendar__tile--now:hover,
  .react-calendar__tile--now:enabled:hover,
  .react-calendar__tile--now:enabled:focus {
    @apply bg-secondary rounded-lg text-white;
  }
}
